



<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
              <strong class="card-title">Créer famille</strong>
          </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-body">
              <!-- <canvas id="TrafficChart"></canvas>   -->
              <form [formGroup]="ofForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                  <label for="nomFamille">Nom de la Famille</label> 
                  <input id="nomFamille" formControlName="nomFamille" name="nomFamille" type="text" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nomFamille.errors }">
                  <div *ngIf="submitted && f.nomFamille.errors" class="alert alert-danger">
                    <div *ngIf="submitted && f.nomFamille.errors.required">Title is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="articleEntrant">Article Entrant</label> 
                  <div>
                    <select id="articleEntrant" formControlName="articleEntrant" name="articleEntrant" class="custom-select">
                      <option value="231D332">313E13</option>
                      <option value="32E3E">3E23E</option>
                      <option value="23E23E">23E32E</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="articleSortant">Article Sortant</label> 
                  <div>
                    <select id="articleSortant" formControlName="articleSortant" name="articleSortant" class="custom-select">
                      <option value="12Z12">21Z2</option>
                      <option value="12Z12">2Z12</option>
                      <option value="12Z12">12Z12</option>
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label for="nombreArticle">Nombre Article</label> 
                  <input id="nombreArticle" formControlName="nombreArticle" name="nombreArticle" type="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombreArticle.errors }">
                  <div *ngIf="submitted && f.nombreArticle.errors" class="alert alert-danger">
                    <div *ngIf="submitted && f.nombreArticle.errors.required">Title is required</div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="nombreMachine">Nombre Machine</label> 
                  <input id="nombreMachine" formControlName="nombreMachine" name="nombreMachine" type="number" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.nombreMachine.errors }">
                  <div *ngIf="submitted && f.nombreMachine.errors" class="alert alert-danger">
                    <div *ngIf="submitted && f.nombreMachine.errors.required">Title is required</div>
                  </div>
                </div> 
                <div class="form-group">
                  <button name="submit" type="submit" class="btn btn-primary">Créer Famille</button>
                </div>
              </form>
               
               
               <!-- /.table-stats -->
            </div>
          </div>

        </div> <!-- /.row -->
      </div>
    </div><!-- /# column -->
  </div>
  <!--  /Traffic -->
  <div class="clearfix"></div>
  <!-- Orders -->
</div>

