<div class="animated fadeIn">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                    <h4 class="box-title">Pièces </h4>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card-body">
                            <!-- <canvas id="TrafficChart"></canvas>   -->
                         
                              <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                  <thead>
                                      <tr>
                                          <th class="avatar">Code</th>
                                          <th>Nom</th> 
                                          <th>Quantité</th>
                                          <th>Stock minimale</th>
                                          <th>Unité</th>
                                          <th>Prix</th>
                                          <th></th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td class="serial">3DVCS</td>
                                          <td class="serial">Enroulement</td>
                                          <td class="serial">15</td>
                                          <td class="serial">6</td>
                                          <td class="serial">U</td>
                                          <td class="serial">343,5</td>
                                          <td><a class="btn btn-primary btn-sm" href="#" role="button"><i class="fa fa-eye"></i></a>
                                            <a class="btn btn-warning btn-sm" href="#" role="button"><i class="fa fa-edit"></i></a>
                                            <a class="btn btn-danger btn-sm" href="#" role="button"><i class="fa fa-trash"></i></a>
                                          </td>
                                      </tr>
                                   
                                  </tbody>
                              </table>
                         
                        </div>
                    </div>
                   
                </div> <!-- /.row -->
                <div class="card-footer"><a class="btn btn-success" href="#" role="button"><i class="fa fa-plus"></i> Créer</a></div>
            </div>
          </div><!-- /# column -->
        </div>
        <!--  /Traffic -->
        <div class="clearfix"></div>
        <!-- Orders -->
      
      
        
      </div>