<div class="login-content">

  <div class="login-form">

    <div class="login-logo">
      <a routerLink="/">
        <img class="align-content" src="/assets/images/megasteel.png" alt="" />
      </a>
    </div>


    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" placeholder="Email" value="admin@admin.com" />
    </div>
    <div class="form-group">
      <label>Mot de passe</label>
      <input type="password" class="form-control" placeholder="Password" value="admin" />
    </div>
    <div class="checkbox">
    </div>
    <button routerLink="/" class="btn btn-success btn-flat m-b-30 m-t-30">Connexion</button>

  </div>
</div>