
<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
          <div class="card-header">
              <strong class="card-title">Ordres de fabrication</strong>
          </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-body">
              <!-- <canvas id="TrafficChart"></canvas>   -->
              
         
               <!-- /.table-stats -->
            </div>
          </div>

        </div> <!-- /.row -->
        <div class="card-footer"><a class="btn btn-success" (click)="redirectAddOf()" role="button"><i class="fa fa-plus"></i> Créer</a></div>
      </div>
    </div><!-- /# column -->
  </div>
  <!--  /Traffic -->
  <div class="clearfix"></div>
  <!-- Orders -->
</div>

