<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <strong class="card-title">Créer Licenciement</strong>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-body">

              <form>
                <div class="form-group row">
                  <label for="text9" class="col-4 col-form-label">Matricule</label>
                  <div class="col-8">
                    <input id="text9" name="text9" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text" class="col-4 col-form-label">Nom</label>
                  <div class="col-8">
                    <input id="text" name="text" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text1" class="col-4 col-form-label">Date</label>
                  <div class="col-8">
                    <input id="text1" name="text1" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="text2" class="col-4 col-form-label">Nature</label>
                  <div class="col-8">
                    <input id="text2" name="text2" type="text" class="form-control">
                  </div>
                </div>
                <div class="form-group row">
                  <div class="offset-4 col-8">
                    <button name="submit" type="submit" class="btn btn-primary">Ajouter</button>
                  </div>
                </div>
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>