<!-- Left Panel -->
<aside id="left-panel" class="left-panel" *ngIf="!hasRoute('login')">
    <navigation></navigation>
</aside>
<!-- /#left-panel -->

<!-- Right Panel -->
<div id="right-panel" class="right-panel" *ngIf="!hasRoute('login')">
    <!-- Header-->
    <menu></menu>
    <!-- /#header -->


    <!-- Content -->
    <div class="content">
        <!-- Animated -->
        <router-outlet></router-outlet>
    </div>
    <footer></footer>
</div>


<app-login *ngIf="hasRoute('login')"></app-login>