<div class="animated fadeIn">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h4 class="box-title">Systeme</h4>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="card-body">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>Devise</th>
                    <th>Enregistement</th>
                    <th>bas de page</th>
                    <th>Backend URL</th>
                    <th>port</th>
                    <th>Backend Technology</th>
                    <th>langue</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{systemeConfiguration.currency}}</td>
                    <td>{{systemeConfiguration.user_register}}</td>
                    <td>{{systemeConfiguration.footer}}</td>
                    <td>{{systemeConfiguration.url}}</td>
                    <td>{{systemeConfiguration.technology}}</td>
                    <td>{{systemeConfiguration.port}}</td>
                    <td>{{systemeConfiguration.language}}</td>
                    <td>
                      <button title="career devis" data-togglee="tooltip" type="button" data-toggle="modal"
                        data-target="#editClient" class="btn btn-success btn-sm"><i class="fa fa-edit"></i></button>

                    </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <th>Devise</th>
                    <th>Enregistement</th>
                    <th>bas de page</th>
                    <th>Backend URL</th>
                    <th>port</th>
                    <th>Backend Technology</th>
                    <th>langue</th>
                    <th>Actions</th>
                  </tr>
                </tfoot>
              </table>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>