<div class="dropdown for-notification">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown"
    aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-plus"></i>

  </button>
  <div class="dropdown-menu" aria-labelledby="notification">
    <p class="red">Accès rapide</p>

    <a routerLink="/ajouter-activite" class="dropdown-item media">
      <i class="fa fa-check"></i>
      <p>Ajouter Activité</p>
    </a>

    <a routerLink="/ajouter-famille" class="dropdown-item media">
      <i class="fa fa-check"></i>
      <p>Ajouter famille</p>
    </a>

    <a routerLink="/ajouter-of" class="dropdown-item media">
      <i class="fa fa-check"></i>
      <p>Ajouter OF</p>
    </a>

    <a routerLink="/ajouter-maintenance" class="dropdown-item media">
      <i class="fa fa-check"></i>
      <p>Ajouter maintenance</p>
    </a>

    <a routerLink="/ajouter-operateur" class="dropdown-item media">
      <i class="fa fa-check"></i>
      <p>Ajouter opérateur</p>
    </a>

  </div>
</div>