<nav class="navbar navbar-expand-sm navbar-default">
  <div id="main-menu" class="main-menu collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li class="active">
              <a href="index.html"><i class="menu-icon fa fa-laptop"></i>Tableau de bord </a>
          </li>
          <li class="menu-title">Production</li><!-- /.menu-title -->
          <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
                  <i class="menu-icon fa fa-cogs"></i>Production</a>
              <ul class="sub-menu children dropdown-menu">                            <li><i class="fa fa-puzzle-piece"></i><a href="ui-buttons.html">Buttons</a></li>
                  <li><i class="fa fa-id-badge"></i><a href="ui-badges.html">Activités</a></li>
                  <li><i class="fa fa-bars"></i><a href="ui-tabs.html">Opérateurs</a></li>

                  <li><i class="fa fa-id-card-o"></i><a href="ui-cards.html">Commandes</a></li>
                  <li><i class="fa fa-exclamation-triangle"></i><a href="ui-alerts.html">Bons entrées fabrication</a></li>
                  <li><i class="fa fa-spinner"></i><a href="ui-progressbar.html">Ordre de fabrication</a></li>
                 
              </ul>
          </li>
         
        
          <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-tasks"></i>Ressources</a>
              <ul class="sub-menu children dropdown-menu">
                  <li><i class="menu-icon fa fa-fort-awesome"></i><a href="font-fontawesome.html">Machines</a></li>
                  <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Familles</a></li>
                  <li><i class="menu-icon ti-themify-logo"></i><a href="font-themify.html">Articles</a></li>
              </ul>
          </li>

          <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-bar-chart"></i>Extra</a>
              <ul class="sub-menu children dropdown-menu">
                  <li><i class="menu-icon fa fa-line-chart"></i><a href="charts-chartjs.html">Option machine</a></li>
                  <li><i class="menu-icon fa fa-area-chart"></i><a href="charts-flot.html">Article par jour</a></li>
                  <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Statistiques</a></li>
                  <li><i class="menu-icon fa fa-pie-chart"></i><a href="charts-peity.html">Option OC</a></li>
              </ul>
          </li>

          <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-area-chart"></i>Configuration</a>
              <ul class="sub-menu children dropdown-menu">
                  <li><i class="menu-icon fa fa-map-o"></i><a href="maps-gmap.html">Couleur des états</a></li>
                  <li><i class="menu-icon fa fa-street-view"></i><a href="maps-vector.html">Zone de stockage</a></li>
              </ul>
          </li>
          <li class="menu-title">Achats</li><!-- /.menu-title -->
          <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Achats</a>
              <ul class="sub-menu children dropdown-menu">
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Demande d'achat</a></li>
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Commande fournisseur</a></li>
                  <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Bons entrées achat</a></li>
                  <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">fournisseurs</a></li>
                  <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">demande d'achat pièces</a></li>
                  <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">fournisseurs pièces</a></li>
                  <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Bons entrées pièces</a></li>
              </ul>
          </li>


          <li class="menu-title">Ventes</li><!-- /.menu-title -->
          <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Ventes</a>
              <ul class="sub-menu children dropdown-menu">
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Commandes</a></li>
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Bons de reservation</a></li>
                  <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Bons de livraison</a></li>
                  <li><i class="menu-icon fa fa-paper-plane"></i><a href="pages-forget.html">Clients</a></li>
       
              </ul>
          </li>

          <li class="menu-item-has-children dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Configuration</a>
                <ul class="sub-menu children dropdown-menu">
                    <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">TVA</a></li>     
                </ul>
        </li>

        <li class="menu-title">Maintenance</li><!-- /.menu-title -->
        <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Machine</a>
            <ul class="sub-menu children dropdown-menu">
                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Machines</a></li>
                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-register.html">Maintenace préventenve</a></li>    
            </ul>
        </li>

        <li class="menu-item-has-children dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Demande d'inter</a>
              <ul class="sub-menu children dropdown-menu">
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Nouvelle demande</a></li>
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Demande planifié</a></li>
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Demandé traité</a></li>
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Demande evalué</a></li> 
                  <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Demande cloturé</a></li>    
              </ul>
       </li>

       <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Equipement</a>
            <ul class="sub-menu children dropdown-menu">
                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Pièces de rechange</a></li>
                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Bons entrée pièces</a></li>   
            </ul>
     </li>

     <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-glass"></i>Configuration</a>
            <ul class="sub-menu children dropdown-menu">
                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Panne</a></li>
                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Prestataire externe</a></li>
                <li><i class="menu-icon fa fa-sign-in"></i><a href="page-login.html">Opérateurs</a></li>   
            </ul>
     </li>



      </ul>
  </div><!-- /.navbar-collapse -->
</nav>